.gtp3__header{
    display: flex;
    flex-direction: row;
}
.gtp3__header-content{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
}
.gtp3__header-content h1{
    font-family: var(--font-family);
    font-weight: 800;
    
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;

}
.gtp3__header-content p{
    font-family: var(---font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    color: var(--color-text);
    margin-top: 1.5rem;
}
.gtp3__header-content__input{
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}
.gtp3__header-content__input input{
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: var(--color-footer);
    border: 2px solid var(--color-footer);
    font-family: var(---font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    padding: 0 1rem;
    outline: none;
    color: #3D6184;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.gtp3__header-content__input button{
    flex: 0.6;
    width: 100%;                                                                                        
    min-height: 50px;
    background: #FF4820;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: var(---font-family);
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
}
.gtp3__header-content__people{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-top: 2rem;
}
.gtp3__header-content__people img{
    width: 181.79px;
    height: 38px;

}
.gtp3__header-content__people p{
    margin:0 0 0 1rem;
    font-family: var(---font-family);
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    color: #FFFFFF;
    text-align: center;
}
.gtp3__header-img{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}
.gtp3__header-img img{
    height: 100%;
    width: 100%;
}

@media  screen and(max-width: 1050px) {
    .gtp3__header{
        flex-direction: column;
    }
    .gtp3__header-content{
        margin: 0 0 3rem;
    }
}
@media  screen and(max-width: 650px) {
    .gtp3__header h1{
        font-size: 48px;
        line-height: 60px;
    }
    .gtp3__header p{
        font-size: 16px;
        line-height: 24px;
    }
    .gtp3__header-content__people{
        flex-direction: column;
    }
    .gtp3__header-content__people p {
        margin: 0;
    }
    .gtp3__header-content__input,
    .gtp3__header-content__input
    {
        font-size: 16px;
        line-height: 24px;
    }
    
}
@media  screen and(max-width: 490px){
    .gtp3__header h1{
        font-size: 36px;
        line-height: 48px;
    }
    .gtp3__header p{
        font-size: 14px;
        line-height: 24px;
    }
    .gtp3__header-content__input input,
    .gtp3__header-content__input button
    {
        font-size: 12px;
        line-height: 16px;
    }
}